<!DOCTYPE html>
<html>
  <head>
    <title>Git Lit TacoTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <%= link_to "Index Page", tacos_path %>
      <%= link_to "Create a new taco", new_taco_path %>
    </div>
    <%= yield %>
  </body>
</html>
